var.log_root     = "{{ log_root_dir }}"
var.server_root  = "{{ web_root_dir }}"
var.state_dir    = "{{ pid_dir }}"
var.home_dir     = "/var/lib/lighttpd"
var.conf_dir     = "/etc/lighttpd"
var.server_ip    = "{{ server_bind_ip }}"
var.server_port  =  {{ lighttpd_port }}
var.server_user  = "{{ lighttpd_user }}"
var.server_group = "{{ lighttpd_group }}"
var.vhosts_dir   = server_root + "/vhosts"
var.cache_dir    = "/var/cache/lighttpd"
var.socket_dir   = state_dir + "/sockets"
var.upload_dirs  = ( "/var/tmp" )

include "modules.conf"

server.port  = server_port
server.use-ipv6 = "enable"
server.bind = server_ip
server.username  =  server_user
server.groupname = server_group
server.document-root = server_root + "/lighttpd"
server.pid-file = state_dir + "/lighttpd.pid"
server.errorlog             = log_root + "/error.log"

server.event-handler = "linux-sysepoll"
server.network-backend = "sendfile"
server.stat-cache-engine = "simple"
server.max-connections = 1024

index-file.names += ( "index.xhtml", "index.html", "index.htm", "default.htm", "index.php")
url.access-deny = ( "~", ".inc" )

$HTTP["url"] =~ "\.pdf$" {
  server.range-requests = "disable"
}

static-file.exclude-extensions = ( ".php", ".pl", ".fcgi", ".scgi" )
server.follow-symlink = "enable"
server.upload-dirs =  upload_dirs

include "conf.d/access_log.conf"
include "conf.d/debug.conf"
include "conf.d/mime.conf"
include "conf.d/dirlisting.conf"
include "conf.d/compress.conf"
include "vhosts.d/*.conf"
