server.document-root = "/var/www/"
mimetype.assign = ("" => "text/html")
server.bind = "0.0.0.0"
server.port  =  80
server.modules              = (
                              "mod_rewrite",
                              "mod_redirect",
                              "mod_access",
                              "mod_status",
                              "mod_simple_vhost",
                              "mod_accesslog",
                              "mod_indexfile"
                               )

server.indexfiles = ("index.html")

simple-vhost.server-root   = "/var/www/vhosts/"
simple-vhost.default-host  = "{{ bogus_domain }}.com"
simple-vhost.document-root = "public"

server.errorlog = "/var/log/lighttpd/error.log"
debug.log-file-not-found = "enable"
debug.log-request-header = "enable"
debug.log-request-handling = "enable"
debug.log-response-header = "enable"
